<mat-form-field>
    <mat-label>Milestone</mat-label>
    <mat-select>
      <mat-option *ngFor="let milestone of milestones" [value]="milestone.name">
        {{milestone.name}}
      </mat-option>
    </mat-select>
</mat-form-field>

