<div class="chartContainer">
  <canvas baseChart
    [data]="lineChartData"
    [labels]="lineChartData.labels"
    [options]="lineChartOptions"
    [plugins]="lineChartPlugins"
    [legend]="lineChartLegend"
    [type]="lineChartType">
  </canvas>
</div>
