<div class="grid-container">
  <div>
    <app-text-input (emmiter)="receiveMilestone($any($event))"></app-text-input>
    <h3> {{ milestone }} </h3>
  </div>
  <mat-grid-list cols="{{ ( cardLayout | async )?.columns }}" rowHeight="200px">
    <div class="charts">
        <!--Charts-->   
        <mat-grid-tile [colspan]="( cardLayout | async )?.chart?.cols"
          [rowspan]="( cardLayout | async )?.chart?.rows">
          <app-card title="Quantidade de Issues por Desenvolvedor" >
            <app-quant-issues-chart [milestone]="milestone" ></app-quant-issues-chart>
          </app-card>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="( cardLayout | async )?.chart?.cols"
          [rowspan]="( cardLayout | async )?.chart?.rows">
          <app-card title="Soma de Pontos de Issues por Desenvolvedor" >
            <app-sum-issues-chart [milestone]="milestone"></app-sum-issues-chart>
          </app-card>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="( cardLayout | async )?.chart?.cols"
          [rowspan]="( cardLayout | async )?.chart?.rows">
          <app-card title="Quantidade de Issues criadas por dia" >
            <app-day-issues [milestone]="milestone"></app-day-issues>
          </app-card>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="( cardLayout | async )?.chart?.cols"
          [rowspan]="( cardLayout | async )?.chart?.rows">
          <app-card title="Distribuição das Issues" >
            <app-status-issues [milestone]="milestone"></app-status-issues>
          </app-card>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="( cardLayout | async )?.chart?.cols"
          [rowspan]="( cardLayout | async )?.chart?.rows">
          <app-card title="Quantidade de Merges Aceitos por Desenvolvedor" >
            <app-quant-merges [milestone]="milestone"></app-quant-merges>
          </app-card>
        </mat-grid-tile>
      </div>
   </mat-grid-list>
 </div>