<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Cod Column -->
    <ng-container matColumnDef="cod">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Cod</th>
      <td mat-cell *matCellDef="let row">{{row.cod}}</td>
    </ng-container>

    <!-- issueCod Column -->
    <ng-container matColumnDef="issueCod">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>To Issue</th>
      <td mat-cell *matCellDef="let row">{{row.issueCod}}</td>
    </ng-container>

    <!-- state Column -->
    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>State</th>
      <td mat-cell *matCellDef="let row">{{row.state}}</td>
    </ng-container>

    <!-- mergedby Column -->
    <ng-container matColumnDef="mergedby">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Merged By</th>
      <td mat-cell *matCellDef="let row">{{row.mergedby}}</td>
    </ng-container>

    <!-- mergedat Column -->
    <ng-container matColumnDef="mergedat">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Merged At</th>
      <td mat-cell *matCellDef="let row">{{row.mergedat}}</td>
    </ng-container>

    <!-- targetbranch Column -->
    <ng-container matColumnDef="targetbranch">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Target Branch</th>
      <td mat-cell *matCellDef="let row">{{row.targetbranch}}</td>
    </ng-container>

    <!-- milestone Column -->
    <ng-container matColumnDef="milestone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Milestone</th>
      <td mat-cell *matCellDef="let row">{{row.milestone}}</td>
    </ng-container>

    <!-- Link Column -->
    <ng-container matColumnDef="link">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Link</th>
      <td mat-cell *matCellDef="let row">{{row.link}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataLength"
      [pageIndex]="0"
      [pageSize]="10"
      aria-label="Select page">
  </mat-paginator>
</div>
