.full-width-table {
  width: 100%;
}

.small-table{
  overflow-x: scroll !important;
  overflow-y: scroll !important;
}

.mat-column-title {
  max-width: 30ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}