<div class="mat-elevation-z8 small-table">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Cod Column -->
    <ng-container matColumnDef="cod">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Cod</th>
      <td mat-cell *matCellDef="let row">{{row.cod}}</td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
      <td mat-cell *matCellDef="let row">{{row.title}}</td>
    </ng-container>

    <!-- CreatedAt Column -->
    <ng-container matColumnDef="createdat">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Created At</th>
      <td mat-cell *matCellDef="let row">{{row.createdat}}</td>
    </ng-container>

    <!-- Author Column -->
    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Author</th>
      <td mat-cell *matCellDef="let row">{{row.author}}</td>
    </ng-container>

    <!-- Sponsor Column -->
    <ng-container matColumnDef="sponsor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Sponsor</th>
      <td mat-cell *matCellDef="let row">{{row.sponsor}}</td>
    </ng-container>

    <!-- Link Column -->
    <ng-container matColumnDef="link">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Link</th>
      <td mat-cell *matCellDef="let row">{{row.link}}</td>
    </ng-container>

    <!-- Milestone Column -->
    <ng-container matColumnDef="milestone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Milestone</th>
      <td mat-cell *matCellDef="let row">{{row.milestone}}</td>
    </ng-container>

    <!-- Time Column -->
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Time</th>
      <td mat-cell *matCellDef="let row">{{row.time}}</td>
    </ng-container>

    <!-- TimeDesc Column -->
    <ng-container matColumnDef="timedesc">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Time Desc</th>
      <td mat-cell *matCellDef="let row">{{row.timedesc}}</td>
    </ng-container>

    <!-- Planning Column -->
    <ng-container matColumnDef="planning">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Planning</th>
      <td mat-cell *matCellDef="let row">{{row.planning}}</td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let row">{{row.status}}</td>
    </ng-container>

    <!-- Project Column -->
    <ng-container matColumnDef="project">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Project</th>
      <td mat-cell *matCellDef="let row">{{row.project}}</td>
    </ng-container>

    <!-- Point Column -->
    <ng-container matColumnDef="point">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Point</th>
      <td mat-cell *matCellDef="let row">{{row.point}}</td>
    </ng-container>

    <!-- isPlan Column -->
    <ng-container matColumnDef="isplan">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>isPlan</th>
      <td mat-cell *matCellDef="let row">{{row.isplan}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataLength"
      [pageIndex]="0"
      [pageSize]="10"
      aria-label="Select page">
  </mat-paginator>
</div>
