.full-width {
  width: 100%;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.my-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.my-full-width {
  flex: 1;
  margin-right: 20px;
  width: 50%;
  padding: .25em 0 .75em 0;
  font-size: 14px;
}