<form class="my-form">
    <mat-form-field class="my-full-width" appearance="outline">
        <mat-label>Milestone</mat-label>
        <input matInput id="item-input" #milestone>
    </mat-form-field>
    <button mat-raised-button class="col" color="primary" (click)="onSubmit(milestone.value)">Selecionar</button>
    <button mat-raised-button class="col" color="accent" (click)="importRefreshData(milestone.value)">Importar</button>
</form>