<div class="chartContainer">
  <canvas baseChart
    [data]="pieChartData"
    [labels]="pieChartData.labels"
    [options]="pieChartOptions"
    [plugins]="pieChartPlugins"
    [legend]="pieChartLegend"
    [type]="pieChartType">
  </canvas>
</div>
