<div class="chartContainer" >
  <canvas baseChart
    [data]="barChartData"
    [labels]="barChartData.labels"
    [options]="barChartOptions"
    [plugins]="barChartPlugins"
    [legend]="barChartLegend"
    [type]="barChartType">
  </canvas>
</div>
