<div class="grid-container">
  <div>
    <app-text-input (emmiter)="receiveMilestone($any($event))"></app-text-input>
    <h3> {{ milestone }} </h3>
  </div>
  <mat-grid-list cols="{{ ( cardLayout | async )?.columns }}" rowHeight="200px">
    <!--Table-->
    <mat-grid-tile [colspan]="( cardLayout | async )?.table?.cols" [rowspan]="( cardLayout | async )?.table?.rows">
      <app-card title="Issues da Milestone">
        <app-issues-table [milestone]="milestone" ></app-issues-table>
      </app-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="( cardLayout | async )?.table?.cols" [rowspan]="( cardLayout | async )?.table?.rows">
      <app-card title="Merges Abertos">
        <app-merges-table [milestone]="milestone" ></app-merges-table>
      </app-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
